* {
   border: none;
   font-size: 14.5px;
   font-family: Hack Nerd Font;
}

window#waybar {
   background: transparent;
}

/* Workspace Numbers */
#workspaces {
   opacity: 0.75;
   background-color: #FFFFFF;
   border-radius: 12px;
   transition-property: all;
   transition-duration: .3s;
}
#workspaces button.active {
  opacity: 1;
  background-color: #dbdbdb;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 12px;
  transition-property: all;
  transition-duration: .3s;
}

/* Network Diagnostics */
#network {
   opacity: 0.75;
   background-color: #FFFFFF;
   padding-left: 5px;
   padding-right: 5px;
   border-radius: 12px;
   transition-property: all;
   transition-duration: .3s;
}
#network.disconnected {
  opacity: 0;
}
#network.disabled {
  opacity: 0;
}

/* Hardware Performance */
#performance {
   background-color: #FFFFFF;
   opacity: 0.75;
   padding-left: 5px;
   padding-right: 5px;
   border-radius: 12px;
   transition-property: all;
   transition-duration: .3s;
}
#cpu {
   padding-left: 5px;
   padding-right: 5px;
}
#memory {
   padding-left: 5px;
   padding-right: 5px;
}
#disk {
   padding-left: 5px;
   padding-right: 5px;
}

/* Brightness / Backlight */
#backlight {
   opacity: 0.75;
   background-color: #FFFFFF;
   padding-left: 10px;
   padding-right: 10px;
   border-radius: 12px;
   transition-property: all;
   transition-duration: .3s;
}

/* Battery */
#battery {
   background-color: #FFFFFF;
   opacity: 0.75;
   padding-left: 10px;
   padding-right: 20px;
   border-radius: 12px;
   transition-property: all;
   transition-duration: .3s;
}
#battery.warning {
   background-color: #FFEE00;
}
#battery.critical {
   background-color: #FF0000;
}

/* Pulseaudio */
#pulseaudio {
   background-color: #FFFFFF;
   color: #000000;
   opacity: 0.75;
   padding-left: 20px;
   padding-right: 20px;
   border-radius: 12px;
   transition-property: all;
   transition-duration: .3s;
}

/* Weather */
#custom-weather {
   opacity: 0.75;
   background-color: #FFFFFF;
   padding-left: 10px;
   padding-right: 10px;
   border-radius: 12px;
   transition-property: all;
   transition-duration: .3s;
   color: #000000;
}

/* Current Window */
#window {
   background-color: #FFFFFF;
   opacity: 0.75;
   padding-left: 20px;
   padding-right: 20px;
   border-radius: 12px;
   transition-property: all;
   transition-duration: .3s;
}
window#waybar.empty #window {
  opacity: 0;
}

/* Clock / Date */
#clock {
   background-color: #FFFFFF;
   color: #000000;
   opacity: 0.75;
   padding-left: 20px;
   padding-right: 20px;
   border-radius: 12px;
   transition-property: all;
   transition-duration: .3s;
}

/* Tray Icons */
#tray {
   background-color: #FFFFFF;
   opacity: 0.75;
   padding-left: 20px;
   padding-right: 20px;
   border-radius: 12px;
   transition-property: all;
   transition-duration: .3s;
}
